<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sharkawy.zagazigapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.sharkawy.zagazigapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.sharkawy.zagazigapp.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".utilities.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SearchResultActivity"
            android:label="@string/title_activity_search_result"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.MainActivity"/>
        <activity android:name=".activities.DetailedItemActivity" />
        <activity android:name=".activities.CategoryActivity"
            android:parentActivityName=".activities.MainActivity"></activity>
        <activity
            android:name=".activities.SectorActivity"
            android:label="@string/title_activity_sector"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.PhotoActivity" />
        <activity
            android:name=".activities.FavorivtesActivity"
            android:label="@string/title_activity_favorivtes"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.MainActivity"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1459ed4b9ae4165789f025e939e362a6396f309d" />

        <activity
            android:name=".activities.ContactUs"
            android:label="@string/title_activity_contact_us" />
        <activity
            android:name=".activities.GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- START Added for GCM -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="info.androidhive.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.MyGcmPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.GcmIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- END Added for GCM -->
        <activity
            android:name=".activities.Splash"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
